table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid white;
    padding: 10px;
    text-align: left;
}

th {
    background-color: rgba(0, 0, 0, 0.7);
}

tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.5);
}